<div class="page-header">
    <h1>Here do be all statuses!</h1>
</div>

<%= link_to "New Status", new_status_url, class: "btn btn-primary" %>

<% @statuses.each do |status| %>
<div class="status">
  <strong>name: <%= status.name %></strong>
  <p><strong>status:</strong> <%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
      |   <%= link_to "edit", edit_status_path(status) %> |   
      <%= link_to "delete", status, method: :delete, data: { confirm: "Sure you wanna do that?"} %>  
    </span>
  </div>
</div>
<% end %>